## --------- DEPENDENCY: BLACKBOX EXPORTER ----------

blackboxExporter:
  enabled: true

config:
  modules:
    http_2xx:
      prober: http
      timeout: 15s
      http:
        valid_status_codes: [200, 201, 202, 203, 204, 205, 206, 207, 208, 226, 401, 405]
        valid_http_versions: ["HTTP/1.1", "HTTP/2.0"]
        follow_redirects: true
        preferred_ip_protocol: "ip4"



## --------- AUTO BLACKBOX EXPORTER ----------
additionalHosts:
  - og-y.com
  - http://test.com


prometheusRules:
  enabled: true
  # showNotesAnyways: true # ?
  expiringInfo:
    days: 30
    severity: info
    # customLabelForRules:  # ???
    #   a: b
      
  expiringWarning:
    days: 15
    severity: warning
  expiringCritical:
    days: 7
    severity: critical

prometheus:
  scrape_timeout: 60s
  scrape_interval: 180s

# includeHostsRegex: ""
# excludeHostsRegex: ""


# i like vars
configObjName: auto-blackbox-scrape-configs
configObjKeyName: auto-blackbox-exporter-config.yaml
prometheusJobName: auto-blackbox

